openapi: 3.1.0
info:
  title: Barogo Gorela Order Agency API
  version: '2026-06-23'
  summary: 고릴라(Gorela) 배달대행 중계 플랫폼 — 주문 제휴사(Order Agency) 연동 API
  description: 'Gorela is the delivery-brokerage platform operated by Barogo (바로고). It sits between an order agency (a POS,
    marketplace or commerce platform that takes the customer''s order) and the delivery agencies that dispatch riders. One
    order can fan out to N deliveries.


    This OpenAPI document was DERIVED by API Evangelist from Barogo''s own published developer reference at https://developer.gorelas.com/api-docs-md/
    (last updated 2026-06-23). Every path, method, parameter name, type, enum value and example is carried over verbatim from
    those documents. Barogo does not publish an OpenAPI document of its own; this is a faithful transcription, not a provider-published
    artifact.


    Auth: `Authorization: Bearer {API_Key}` — API keys are issued from the 연동 관리 (linkage) console at https://developer.gorelas.com/linkage
    after partner registration.'
  contact:
    name: Gorela TAM
    email: tech_poc@barogo.com
    url: https://developer.gorelas.com/
  x-origin:
  - format: markdown
    url: https://developer.gorelas.com/api-docs-md/index.md
    version: '2026-06-23'
    converter:
      url: https://apievangelist.com
      version: pipeline-enrich local-v1
servers:
- url: https://api-interlocker.gorelas.com
  description: 운영 (production)
- url: https://staging-api-interlocker.gorelas.com
  description: 테스트 (staging)
security:
- bearerAuth: []
tags:
- name: Orders
  description: 주문 접수 / 조회 / 수정 / 취소 및 배달 가능 여부·요금 조회
- name: Stores
  description: 상점 조회 및 주문 제휴사 ↔ 고릴라 상점 매핑
- name: Deposits
  description: 상점 예치금(Cash, Money) 잔액 조회
- name: Delivery
  description: 배달대행사 배달 수행 상태 조회
- name: Areas
  description: 상점 배달 권역 / 불가 구역 / 할증 구역 조회
paths:
  /api/delivery-conditions:
    get:
      operationId: getDeliveryAgencyConditions
      summary: 배달대행사 상태 조회
      description: '공식 문서: 배달대행사 상태 조회'
      tags:
      - Delivery
      x-evidence:
        method: derived-from-published-docs
        sources:
        - https://developer.gorelas.com/api-docs-md/request-10.md
        fetched: '2026-08-06'
      parameters:
      - name: orderAgencyId
        in: query
        required: true
        description: 주문 제휴사 아이디
        schema:
          type: string
          maxLength: 30
          description: 주문 제휴사 아이디
      - name: orderAgencyStoreId
        in: query
        required: true
        description: 주문 제휴사의 상점 아이디
        schema:
          type: string
          maxLength: 100
          description: 주문 제휴사의 상점 아이디
      responses:
        '200':
          description: 요청한 작업이 성공했을 때 응답됩니다.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          deliveryAgencyId:
                            type: string
                            maxLength: 30
                            description: 배달대행사 아이디
                          deliveryAgencyName:
                            type: string
                            maxLength: 30
                            description: 배달대행사 이름
                          isDeliveryPossible:
                            type: boolean
                            description: 배달 가능 여부 *[배달 중단/해제](/api-doc/callback#배달_중단_/_해제) 콜백에 의해 변경(반영)되는 값입니다.*
                          delayTime:
                            type: integer
                            description: 배달 지연 시간 (분)
                          totalExtraCharge:
                            type: integer
                            description: 총 할증 금액
                          extraCharges:
                            type: array
                            items:
                              type: object
                              properties:
                                dataType:
                                  type: string
                                  description: 할증 데이터 종류
                                  enum:
                                  - FIXED
                                  - RATE
                                  - NONE
                                  x-enum-descriptions:
                                    FIXED: 정액 타입 할증(원)
                                    RATE: 정률 타입 할증(%)
                                    NONE: 금액을 특정할 수 없는 타입의 할증
                                type:
                                  type: string
                                  description: 할증 종류
                                  enum:
                                  - WEATHER
                                  - AREA
                                  - HOLIDAY
                                  - TIME
                                  - BUSY
                                  - LATE_NIGHT
                                  - VALUABLE
                                  - ETC
                                  x-enum-descriptions:
                                    WEATHER: 기상
                                    AREA: 구역
                                    HOLIDAY: 휴일
                                    TIME: 시간)
                                    BUSY: 배달 폭증
                                    LATE_NIGHT: 심야
                                    VALUABLE: 귀중
                                    ETC: 기타
                                charge:
                                  type: integer
                                  description: 할증 금액 또는 할증률 할증 목록
                              required:
                              - dataType
                              - type
                              - charge
                              title: 할증 데이터
                          pickupMinimumAt:
                            type: integer
                            description: 픽업 최소 일시 (timestamp)
                        required:
                        - deliveryAgencyId
                        - deliveryAgencyName
                        - isDeliveryPossible
                        - delayTime
                        - totalExtraCharge
                        - pickupMinimumAt
                        title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          deliveryAgencyId:
                            type: string
                            maxLength: 30
                            description: 배달대행사 아이디
                          deliveryAgencyName:
                            type: string
                            maxLength: 30
                            description: 배달대행사 이름
                          isDeliveryPossible:
                            type: boolean
                            description: 배달 가능 여부 *[배달 중단/해제](/api-doc/callback#배달_중단_/_해제) 콜백에 의해 변경(반영)되는 값입니다.*
                          reason:
                            type: string
                            description: 배달 불가능 상태 유형
                            enum:
                            - OVER_CAPACITY
                            - BAD_WEATHER
                            - CLOSE_AGENCY
                            - CLOSE_STORE
                            - ETC
                            x-enum-descriptions:
                              OVER_CAPACITY: 배달을 수행할 수 있는 라이더가 부족하여 배달이 거절된 경우
                              BAD_WEATHER: 배달 불가능한 날씨로 인해 배달이 거절된 경우
                              CLOSE_AGENCY: 배달대행사의 영업이 종료되어 배달이 거절된 경우
                              CLOSE_STORE: 상점의 영업이 종료되어 배달이 거절된 경우
                              ETC: 기타 사유로 인해 요청이 거절된 경우
                        required:
                        - deliveryAgencyId
                        - deliveryAgencyName
                        - isDeliveryPossible
                        - reason
                        title: 거절 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (REJECT)
                  description: 요청이 거절된 경우의 응답 데이터
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: string
                            description: 에러 카테고리
                          errorCode:
                            type: string
                            description: 에러 코드
                          message:
                            type: string
                            description: 에러 메시지
                          info:
                            type: array
                            items:
                              type: object
                              properties:
                                deliveryAgencyId:
                                  type: string
                                  maxLength: 30
                                  description: 배달대행사 아이디
                                deliveryAgencyName:
                                  type: string
                                  maxLength: 30
                                  description: 배달대행사 이름 해당 배달대행사 정보
                              required:
                              - deliveryAgencyId
                              - deliveryAgencyName
                              title: 베달대행사 데이터
                        required:
                        - category
                        - errorCode
                        - message
                        title: 에러 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (ERROR)
                  description: 부분 실패(207) 등에서 함께 전달되는 에러 데이터
              examples:
                배달이 가능한 상태:
                  value:
                    statusCode: 200
                    data:
                    - deliveryAgencyId: barogo
                      deliveryAgencyName: 바로고
                      isDeliveryPossible: true
                      delayTime: 10
                      totalExtraCharge: 500
                      extraCharges:
                      - dataType: FIXED
                        type: HOLIDAY
                        status: 'ON'
                        charge: 500
                      - dataType: NONE
                        type: WEATHER
                        status: 'ON'
                        charge: null
                      pickupMinimumAt: 1674742904640
                배달이 불가능한 상태:
                  value:
                    statusCode: 200
                    data:
                    - deliveryAgencyId: barogo
                      deliveryAgencyName: 바로고
                      isDeliveryPossible: false
                      reason: BAD_WEATHER
                일부 성공 (207):
                  value:
                    statusCode: 207
                    data:
                    - deliveryAgencyId: barogo
                      deliveryAgencyName: 바로고
                      isDeliveryPossible: true
                      delayTime: 10
                      totalExtraCharge: 500
                      extraCharges:
                      - dataType: FIXED
                        type: WEATHER
                        charge: 500
                      pickupMinimumAt: 1674742904640
                    errors:
                    - category: BAD_GATEWAY
                      errorCode: EXTERNAL_SERVER_ERROR
                      message: '[moacall] fail request delivery agency service'
                      info:
                        deliveryAgencyId: moacall
                        deliveryAgencyName: 모아콜
        '400':
          description: BAD_REQUEST — SCHEMA_VALIDATE / NOT_ALLOW / REQUEST_JSON_PARSING / INVALID_INPUT / NONE_DELIVERY_AGENCY_MAPPING
            / NONE_ORDER_AGENCY_MAPPING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: UNAUTHORIZED — EXPIRED_API_KEY / VERIFY_API_KEY_FAIL / ROLE_DENY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND — NOT_FOUND_API / NOT_FOUND_RESOURCE / EXTERNAL_NOT_FOUND_RESOURCE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT — DUPLICATED_ID / DUPLICATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TOO_MANY_REQUESTS — API 요청 횟수 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: INTERNAL_SERVER_ERROR — DB_FAIL / JSON_PARSING / SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: BAD_GATEWAY — EXTERNAL_SERVER_ERROR / NOT_ALLOW_EXTERNAL / MAINTENANCE_TIME
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: SERVICE_UNAVAILABLE — SERVICE_UNAVAILABLE / EXTERNAL_SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: GATEWAY_TIMEOUT — GATEWAY_TIMEOUT / EXTERNAL_SERVER_TIMEOUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/delivery-possible:
    post:
      operationId: checkDeliveryPossible
      summary: 배달 가능 여부 및 요금 조회
      description: '공식 문서: 고정 요금 | 의무 수행 (상점 기반), 고정 요금 | 의무 수행 (주소 기반)'
      tags:
      - Orders
      x-evidence:
        method: derived-from-published-docs
        sources:
        - https://developer.gorelas.com/api-docs-md/request-1.md
        - https://developer.gorelas.com/api-docs-md/request-2.md
        fetched: '2026-08-06'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  pickupId:
                    type: string
                    maxLength: 100
                    description: 픽업지 식별 아이디 (상점 아이디 등, 없다면 빈값 가능)
                  pickupRoadAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 도로명 주소 ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupJibunAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 지번 주소 (`법정동`) ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupAddressDetail:
                    type: string
                    maxLength: 100
                    description: 픽업 상세 주소
                  pickupLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 픽업지 좌표 **좌표가 있는 경우, 주소보다 **좌표를 우선 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp)
                  totalPayPrice:
                    type: integer
                    x-constraint: '>= actualPayPrice'
                    description: 총 결제 금액
                  actualPayPrice:
                    type: integer
                    description: 실제 결제 금액 **(고객이 실제로 결제한 금액으로, 할인/쿠폰/포인트 등의 사유로 총 결제 금액에서 차감된 결제 금액)**
                  prepaidPrice:
                    type: integer
                    description: 선결제 금액 (= actualPayPrice)
                  hasAlcoholicBeverage:
                    type: boolean
                    description: 주류 상품 포함 여부 **주류 상품이 포함되는 경우 비대면 접수는 불가능합니다.*
                  bundleDeliveryCount:
                    type: integer
                    minimum: 1
                    maximum: 3
                    description: 묶음 배달 건수 **배달대행사 수행 라이더의 묶음 배달 건수에 대한 제한을 요청합니다.* **사전 협의 필요 필드*
                  deliveryExecutionType:
                    type: string
                    description: 자율 수행 (= "`AUTONOMY`") **일정 시간 동안 배차가 되지 않을 시 자동 취소되는 옵션입니다.* **사전 협의 필요 필드*
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderAgencyId
                - pickupId
                - pickupAddressDetail
                - dropAddressDetail
                - pickupWishAt
                - totalPayPrice
                - actualPayPrice
                - prepaidPrice
                - hasAlcoholicBeverage
                title: 고정 요금 | 의무 수행 (주소 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-1.md
              - type: object
                properties:
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  orderAgencyStoreId:
                    type: string
                    maxLength: 100
                    description: 주문 제휴사 상점 아이디
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp) **픽업 희망 일시 요청 시 픽업 예상 일시(pickupExpectedAt) 응답이 가능합니다.*
                  totalPayPrice:
                    type: integer
                    x-constraint: '>= actualPayPrice'
                    description: 총 결제 금액
                  actualPayPrice:
                    type: integer
                    description: 실제 결제 금액 **(고객이 실제로 결제한 금액으로, 할인/쿠폰/포인트 등의 사유로 총 결제 금액에서 차감된 결제 금액)**
                  prepaidPrice:
                    type: integer
                    description: 선결제 금액
                  paymentCashPrice:
                    type: integer
                    description: 후불 현금 결제 금액 **(라이더 현장 결제)**
                  paymentCardPrice:
                    type: integer
                    description: 후불 카드 결제 금액 **(라이더 현장 결제)**
                  bundleDeliveryCount:
                    type: integer
                    x-constraint: '[ 1 ]'
                    description: 묶음 배달 건수 **배달대행사 수행 라이더의 묶음 배달 건수에 대한 제한을 요청합니다.* **사전 협의 필요 필드*
                  deliveryExecutionType:
                    type: string
                    description: 자율 수행 (= "`AUTONOMY`") **일정 시간 동안 배차가 되지 않을 시 자동 취소되는 옵션입니다.* **후불 현금이 포함된 주문은 자율 수행이 불가능합니다.*
                      **사전 협의 필요 필드*
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderAgencyId
                - orderAgencyStoreId
                - dropAddressDetail
                - totalPayPrice
                - actualPayPrice
                - prepaidPrice
                - paymentCashPrice
                - paymentCardPrice
                title: 고정 요금 | 의무 수행 (상점 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-2.md
              description: 고릴라는 요금 유형(고정/유연)과 상점 매핑 방식(주소 기반/상점 기반)에 따라 요청 본문 규격이 다릅니다. 각 변형은 별도의 공식 문서에 정의되어 있습니다.
            examples:
              고정 요금 | 의무 수행 (주소 기반) — Request:
                value:
                  orderAgencyId: gorela_chicken
                  pickupId: c7b61777-f091-4b2d-b50e-083171e9196d
                  pickupRoadAddress: 서울특별시 강남구 도산대로55길 20 영빌딩 1층
                  pickupJibunAddress: 서울특별시 강남구 청담동 88-5
                  pickupAddressDetail: 1층
                  pickupLocation:
                    latitude: '37.5247834'
                    longitude: '127.0406188'
                  dropRoadAddress: 서울특별시 강남구 언주로 134길 32
                  dropJibunAddress: 서울특별시 강남구 논현동 117
                  dropAddressDetail: 5층 505호
                  pickupWishAt: 1674716400000
                  totalPayPrice: 30000
                  actualPayPrice: 28000
                  prepaidPrice: 28000
                  hasAlcoholicBeverage: false
              고정 요금 | 의무 수행 (상점 기반) — Request:
                value:
                  orderAgencyId: gorela_chicken
                  orderAgencyStoreId: gorela_chicken_store_1
                  dropRoadAddress: 서울특별시 강남구 언주로 134길 32
                  dropJibunAddress: 서울특별시 강남구 논현동 117
                  dropAddressDetail: 5층 505호
                  pickupWishAt: 1674716400000
                  totalPayPrice: 30000
                  actualPayPrice: 28000
                  prepaidPrice: 28000
                  paymentCashPrice: 0
                  paymentCardPrice: 0
      responses:
        '200':
          description: 요청한 작업이 성공했을 때 응답됩니다.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        deliveryInfo:
                          type: object
                          properties:
                            pickupMinimumAt:
                              type: integer
                              description: 픽업 최소 일시 (timestamp)
                            pickupExpectedAt:
                              type: integer
                              description: 픽업 예상 일시 (timestamp)
                            deliveryDistance:
                              type: integer
                              description: 배달 거리 (m)
                            delayTime:
                              type: integer
                              description: 배달 지연 시간 (분)
                            totalDeliveryPrice:
                              type: integer
                              description: 총 배달 요금 (deliveryPrice + totalExtraCharge)
                            deliveryPrice:
                              type: integer
                              description: 거리 비례 요금
                            totalExtraCharge:
                              type: integer
                              description: 총 할증 금액
                            extraCharges:
                              type: array
                              items:
                                type: object
                                properties:
                                  dataType:
                                    type: string
                                    description: 할증 데이터 종류 (= FIXED)
                                  type:
                                    type: string
                                    description: 할증 종류
                                    enum:
                                    - WEATHER
                                    - AREA
                                    - OVERLOAD
                                    - HOLIDAY
                                    - TIME
                                    - BUSY
                                    - LATE_NIGHT
                                    - VALUABLE
                                    - ADMIN
                                    - ALCOHOLIC
                                    - PROMOTION
                                    - ETC
                                    x-enum-descriptions:
                                      WEATHER: 기상
                                      AREA: 구역
                                      OVERLOAD: 과적
                                      HOLIDAY: 휴일
                                      TIME: 시간
                                      BUSY: 배달 폭증
                                      LATE_NIGHT: 심야
                                      VALUABLE: 귀중
                                      ADMIN: 관리자
                                      ALCOHOLIC: 주류
                                      PROMOTION: 프로모션
                                      ETC: 기타
                                  charge:
                                    type: integer
                                    description: 할증 금액 할증 목록
                                required:
                                - dataType
                                - type
                                - charge
                                title: 할증 데이터
                            VATPrice:
                              type: integer
                              description: 부가세 금액 (이 금액은 배달 요금에 포함되지 않는 별도의 금액입니다) - `= null` 부가세 없음 - `= 0` 부가세가 있지만 0원 -
                                `>= 1` 부가세가 있으며 해당하는 금액
                          required:
                          - pickupMinimumAt
                          - pickupExpectedAt
                          - deliveryDistance
                          - delayTime
                          - totalDeliveryPrice
                          - deliveryPrice
                          - totalExtraCharge
                          - VATPrice
                          title: 데이터
                      required:
                      - isPossible
                      title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        reason:
                          type: boolean
                          description: 배달 불가능 사유
                          enum:
                          - ENUM
                          - INVALID_AREA
                          - INVALID_ADDRESS
                          - TOO_LONG_DELIVERY_DISTANCE
                          - INCORRECT_DELIVERY_PRICE_SETTING
                          - OVER_CAPACITY
                          - BAD_WEATHER
                          - CLOSE_AGENCY
                          - CLOSE_STORE
                          - INSUFFICIENT_DEPOSIT
                          - WRONG_REQUEST
                          - STORE_NOT_APPROVED
                          - DELIVERY_DISABLED
                          - DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD
                          - INCORRECT_STORE_INFO_SETTING
                          - INCORRECT_STORE_VAN_INFO_SETTING
                          - OUT_OF_DELIVERY_POSSIBLE_AREA
                          - POSSIBLE_AREA_OUT_OF_HOURS
                          - IMPOSSIBLE_DELIVERY_AREA
                          - ETC
                          x-enum-descriptions:
                            ENUM: 설명
                            INVALID_AREA: 배달이 불가능한 구역으로 거절된 경우
                            INVALID_ADDRESS: 유효하지 않은 주소 및 좌표로 거절된 경우
                            TOO_LONG_DELIVERY_DISTANCE: 배달 가능한 거리가 초과되어 거절된 경우
                            INCORRECT_DELIVERY_PRICE_SETTING: 주문 정보가 상점의 배달 요금 설정(거리/시간/구역/지번 등)에 유효하지 않은 경우
                            OVER_CAPACITY: 배달을 수행할 수 있는 라이더가 부족하여 거절된 경우
                            BAD_WEATHER: 배달이 불가능한 날씨로 거절된 경우
                            CLOSE_AGENCY: 배달대행사의 영업이 종료되어 거절된 경우
                            CLOSE_STORE: 상점의 영업이 종료되어 거절된 경우
                            INSUFFICIENT_DEPOSIT: 상점의 예치금이 부족하여 거절된 경우
                            WRONG_REQUEST: 잘못된 주문 접수로 거절된 경우
                            STORE_NOT_APPROVED: 상점이 승인되지 않은 상태인 경우
                            DELIVERY_DISABLED: 기타 사유로 인해 상점이 배달 중단 상태인 경우
                            DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT: 후불 결제가 가능한 배달대행사가 없는 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID: 후불 결제가 불가능한 상점인 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD: 후불 현금 결제가 불가능한 상점인 경우
                            INCORRECT_STORE_INFO_SETTING: 상점 정보에 문제가 있어 배달 수행이 불가능한 경우
                            INCORRECT_STORE_VAN_INFO_SETTING: 상점 VAN 정보에 문제가 있어 배달 수행이 불가능한 경우
                            OUT_OF_DELIVERY_POSSIBLE_AREA: 배달 가능 권역에서 벗어난 경우
                            POSSIBLE_AREA_OUT_OF_HOURS: 배달 가능 권역이지만 배달 가능 시간이 아닌 경우
                            IMPOSSIBLE_DELIVERY_AREA: 배달 불가 구역인 경우
                            ETC: 기타 사유로 거절된 경우
                      required:
                      - isPossible
                      - reason
                      title: 거절 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (REJECT)
                  description: 요청이 거절된 경우의 응답 데이터
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        deliveryInfo:
                          type: object
                          properties:
                            pickupMinimumAt:
                              type: integer
                              description: 픽업 최소 일시 (timestamp)
                            pickupExpectedAt:
                              type: integer
                              description: 픽업 예상 일시 (timestamp)
                            deliveryDistance:
                              type: integer
                              description: 배달 거리 (m)
                            delayTime:
                              type: integer
                              description: 배달 지연 시간 (분)
                            totalDeliveryPrice:
                              type: integer
                              description: 총 배달 요금 (deliveryPrice + totalExtraCharge)
                            deliveryPrice:
                              type: integer
                              description: 거리 비례 요금
                            totalExtraCharge:
                              type: integer
                              description: 총 할증 금액
                            extraCharges:
                              type: array
                              items:
                                type: object
                                properties:
                                  dataType:
                                    type: string
                                    description: 할증 데이터 종류 (= FIXED)
                                  type:
                                    type: string
                                    description: 할증 종류
                                    enum:
                                    - WEATHER
                                    - AREA
                                    - OVERLOAD
                                    - HOLIDAY
                                    - TIME
                                    - BUSY
                                    - LATE_NIGHT
                                    - VALUABLE
                                    - ADMIN
                                    - ALCOHOLIC
                                    - PROMOTION
                                    - ETC
                                    x-enum-descriptions:
                                      WEATHER: 기상
                                      AREA: 구역
                                      OVERLOAD: 과적
                                      HOLIDAY: 휴일
                                      TIME: 시간
                                      BUSY: 배달 폭증
                                      LATE_NIGHT: 심야
                                      VALUABLE: 귀중
                                      ADMIN: 관리자
                                      ALCOHOLIC: 주류
                                      PROMOTION: 프로모션
                                      ETC: 기타
                                  charge:
                                    type: integer
                                    description: 할증 금액 할증 목록
                                required:
                                - dataType
                                - type
                                - charge
                                title: 할증 데이터
                            VATPrice:
                              type: integer
                              description: 부가세 금액 (이 금액은 배달 요금에 포함되지 않는 별도의 금액입니다) - `= null` 부가세 없음 - `= 0` 부가세가 있지만 0원 -
                                `>= 1` 부가세가 있으며 해당하는 금액
                          required:
                          - pickupMinimumAt
                          - pickupExpectedAt
                          - deliveryDistance
                          - delayTime
                          - totalDeliveryPrice
                          - deliveryPrice
                          - totalExtraCharge
                          - VATPrice
                          title: 데이터
                      required:
                      - isPossible
                      title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        reason:
                          type: boolean
                          description: 배달 불가능 사유
                          enum:
                          - ENUM
                          - INVALID_AREA
                          - INVALID_ADDRESS
                          - TOO_LONG_DELIVERY_DISTANCE
                          - INCORRECT_DELIVERY_PRICE_SETTING
                          - OVER_CAPACITY
                          - BAD_WEATHER
                          - CLOSE_AGENCY
                          - CLOSE_STORE
                          - INSUFFICIENT_DEPOSIT
                          - WRONG_REQUEST
                          - STORE_NOT_APPROVED
                          - DELIVERY_DISABLED
                          - DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD
                          - INCORRECT_STORE_INFO_SETTING
                          - INCORRECT_STORE_VAN_INFO_SETTING
                          - OUT_OF_DELIVERY_POSSIBLE_AREA
                          - POSSIBLE_AREA_OUT_OF_HOURS
                          - IMPOSSIBLE_DELIVERY_AREA
                          - ETC
                          x-enum-descriptions:
                            ENUM: 설명
                            INVALID_AREA: 배달이 불가능한 구역으로 거절된 경우
                            INVALID_ADDRESS: 유효하지 않은 주소 및 좌표로 거절된 경우
                            TOO_LONG_DELIVERY_DISTANCE: 배달 가능한 거리가 초과되어 거절된 경우
                            INCORRECT_DELIVERY_PRICE_SETTING: 주문 정보가 상점의 배달 요금 설정(거리/시간/구역/지번 등)에 유효하지 않은 경우
                            OVER_CAPACITY: 배달을 수행할 수 있는 라이더가 부족하여 거절된 경우
                            BAD_WEATHER: 배달이 불가능한 날씨로 거절된 경우
                            CLOSE_AGENCY: 배달대행사의 영업이 종료되어 거절된 경우
                            CLOSE_STORE: 상점의 영업이 종료되어 거절된 경우
                            INSUFFICIENT_DEPOSIT: 상점의 예치금이 부족하여 거절된 경우
                            WRONG_REQUEST: 잘못된 주문 접수로 거절된 경우
                            STORE_NOT_APPROVED: 상점이 승인되지 않은 상태인 경우
                            DELIVERY_DISABLED: 기타 사유로 인해 상점이 배달 중단 상태인 경우
                            DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT: 후불 결제가 가능한 배달대행사가 없는 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID: 후불 결제가 불가능한 상점인 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD: 후불 현금 결제가 불가능한 상점인 경우
                            INCORRECT_STORE_INFO_SETTING: 상점 정보에 문제가 있어 배달 수행이 불가능한 경우
                            INCORRECT_STORE_VAN_INFO_SETTING: 상점 VAN 정보에 문제가 있어 배달 수행이 불가능한 경우
                            OUT_OF_DELIVERY_POSSIBLE_AREA: 배달 가능 권역에서 벗어난 경우
                            POSSIBLE_AREA_OUT_OF_HOURS: 배달 가능 권역이지만 배달 가능 시간이 아닌 경우
                            IMPOSSIBLE_DELIVERY_AREA: 배달 불가 구역인 경우
                            ETC: 기타 사유로 거절된 경우
                      required:
                      - isPossible
                      - reason
                      title: 거절 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (REJECT)
                  description: 요청이 거절된 경우의 응답 데이터
              examples:
                고정 요금 | 의무 수행 (주소 기반) — 성공:
                  value:
                    statusCode: 200
                    data:
                      isPossible: true
                      deliveryInfo:
                        pickupMinimumAt: 1674717600000
                        pickupExpectedAt: 1674717600000
                        deliveryDistance: 1320
                        delayTime: 10
                        totalDeliveryPrice: 3800
                        deliveryPrice: 3300
                        totalExtraCharge: 500
                        extraCharges:
                        - dataType: FIXED
                          type: WEATHER
                          charge: 500
                        VATPrice: 380
                고정 요금 | 의무 수행 (주소 기반) — 거절:
                  value:
                    statusCode: 200
                    data:
                      isPossible: false
                      reason: BAD_WEATHER
                고정 요금 | 의무 수행 (상점 기반) — 성공:
                  value:
                    statusCode: 200
                    data:
                      isPossible: true
                      deliveryInfo:
                        pickupMinimumAt: 1674717600000
                        pickupExpectedAt: 1674717600000
                        deliveryDistance: 1320
                        delayTime: 10
                        totalDeliveryPrice: 3800
                        deliveryPrice: 3300
                        totalExtraCharge: 500
                        extraCharges:
                        - dataType: FIXED
                          type: WEATHER
                          charge: 500
                        VATPrice: 380
                고정 요금 | 의무 수행 (상점 기반) — 거절:
                  value:
                    statusCode: 200
                    data:
                      isPossible: false
                      reason: BAD_WEATHER
        '400':
          description: BAD_REQUEST — SCHEMA_VALIDATE / NOT_ALLOW / REQUEST_JSON_PARSING / INVALID_INPUT / NONE_DELIVERY_AGENCY_MAPPING
            / NONE_ORDER_AGENCY_MAPPING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: UNAUTHORIZED — EXPIRED_API_KEY / VERIFY_API_KEY_FAIL / ROLE_DENY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND — NOT_FOUND_API / NOT_FOUND_RESOURCE / EXTERNAL_NOT_FOUND_RESOURCE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT — DUPLICATED_ID / DUPLICATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TOO_MANY_REQUESTS — API 요청 횟수 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: INTERNAL_SERVER_ERROR — DB_FAIL / JSON_PARSING / SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: BAD_GATEWAY — EXTERNAL_SERVER_ERROR / NOT_ALLOW_EXTERNAL / MAINTENANCE_TIME
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: SERVICE_UNAVAILABLE — SERVICE_UNAVAILABLE / EXTERNAL_SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: GATEWAY_TIMEOUT — GATEWAY_TIMEOUT / EXTERNAL_SERVER_TIMEOUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/deposit-infos:
    get:
      operationId: getStoreDepositInfo
      summary: 상점 예치금 조회
      description: '공식 문서: 상점 예치금 조회'
      tags:
      - Deposits
      x-evidence:
        method: derived-from-published-docs
        sources:
        - https://developer.gorelas.com/api-docs-md/request-9.md
        fetched: '2026-08-06'
      parameters:
      - name: orderAgencyId
        in: query
        required: true
        description: 주문 제휴사 아이디
        schema:
          type: string
          maxLength: 30
          description: 주문 제휴사 아이디
      - name: orderAgencyStoreId
        in: query
        required: true
        description: 주문 제휴사의 상점 아이디
        schema:
          type: string
          maxLength: 100
          description: 주문 제휴사의 상점 아이디
      responses:
        '200':
          description: 요청한 작업이 성공했을 때 응답됩니다.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          deliveryAgencyId:
                            type: string
                            maxLength: 30
                            description: 배달대행사 아이디
                          deliveryAgencyName:
                            type: string
                            maxLength: 30
                            description: 배달대행사 이름
                          deposit:
                            type: integer
                            minimum: 0
                            description: 예치금 잔액
                          bank:
                            type: string
                            description: 은행명
                          accountNumber:
                            type: string
                            description: 계좌 번호
                          depositor:
                            type: string
                            description: 예금주
                        required:
                        - deliveryAgencyId
                        - deliveryAgencyName
                        - deposit
                        - depositor
                        title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: string
                            description: 에러 카테고리
                          errorCode:
                            type: string
                            description: 에러 코드
                          message:
                            type: string
                            description: 에러 메시지
                          info:
                            type: array
                            items:
                              type: object
                              properties:
                                deliveryAgencyId:
                                  type: string
                                  maxLength: 30
                                  description: 배달대행사 아이디
                                deliveryAgencyName:
                                  type: string
                                  maxLength: 30
                                  description: 배달대행사 이름 해당 배달대행사 정보
                              required:
                              - deliveryAgencyId
                              - deliveryAgencyName
                              title: 베달대행사 데이터
                        required:
                        - category
                        - errorCode
                        - message
                        title: 에러 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (ERROR)
                  description: 부분 실패(207) 등에서 함께 전달되는 에러 데이터
              examples:
                성공:
                  value:
                    statusCode: 200
                    data:
                    - deliveryAgencyId: barogo
                      deliveryAgencyName: 바로고
                      deposit: 95000
                      bank: KB국민은행
                      accountNumber: 123123123123123
                      depositor: 홍길동
                일부 성공 (207):
                  value:
                    statusCode: 207
                    data:
                    - deliveryAgencyId: barogo
                      deliveryAgencyName: 바로고
                      deposit: 95000
                      bank: KB국민은행
                      accountNumber: 123123123123123
                      depositor: 홍길동
                    errors:
                    - category: BAD_GATEWAY
                      errorCode: EXTERNAL_SERVER_ERROR
                      message: '[moacall] fail request delivery agency service'
                      info:
                        deliveryAgencyId: moacall
                        deliveryAgencyName: 모아콜
        '400':
          description: BAD_REQUEST — SCHEMA_VALIDATE / NOT_ALLOW / REQUEST_JSON_PARSING / INVALID_INPUT / NONE_DELIVERY_AGENCY_MAPPING
            / NONE_ORDER_AGENCY_MAPPING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: UNAUTHORIZED — EXPIRED_API_KEY / VERIFY_API_KEY_FAIL / ROLE_DENY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND — NOT_FOUND_API / NOT_FOUND_RESOURCE / EXTERNAL_NOT_FOUND_RESOURCE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT — DUPLICATED_ID / DUPLICATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TOO_MANY_REQUESTS — API 요청 횟수 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: INTERNAL_SERVER_ERROR — DB_FAIL / JSON_PARSING / SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: BAD_GATEWAY — EXTERNAL_SERVER_ERROR / NOT_ALLOW_EXTERNAL / MAINTENANCE_TIME
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: SERVICE_UNAVAILABLE — SERVICE_UNAVAILABLE / EXTERNAL_SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: GATEWAY_TIMEOUT — GATEWAY_TIMEOUT / EXTERNAL_SERVER_TIMEOUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/flexible/delivery-possible:
    post:
      operationId: checkFlexibleDeliveryPossible
      summary: 배달 가능 여부 및 요금 조회
      description: '공식 문서: 유연 요금 | 자율 수행 (상점 기반), 유연 요금 | 자율 수행 (주소 기반)'
      tags:
      - Orders
      x-evidence:
        method: derived-from-published-docs
        sources:
        - https://developer.gorelas.com/api-docs-md/request-3.md
        - https://developer.gorelas.com/api-docs-md/request-4.md
        fetched: '2026-08-06'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  pickupId:
                    type: string
                    maxLength: 100
                    description: 픽업지 식별 아이디 (상점 아이디 등, 없다면 빈값 가능)
                  pickupRoadAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 도로명 주소 ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupJibunAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 지번 주소 (`법정동`) ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupAddressDetail:
                    type: string
                    maxLength: 100
                    description: 픽업 상세 주소
                  pickupLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 픽업지 좌표 **좌표가 있는 경우, 주소보다 **좌표를 우선 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp)
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderAgencyId
                - pickupId
                - pickupAddressDetail
                - dropAddressDetail
                - pickupWishAt
                title: 유연 요금 | 자율 수행 (주소 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-3.md
              - type: object
                properties:
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  orderAgencyStoreId:
                    type: string
                    maxLength: 100
                    description: 주문 제휴사 상점 아이디
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp)
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderAgencyId
                - orderAgencyStoreId
                - dropAddressDetail
                - pickupWishAt
                title: 유연 요금 | 자율 수행 (상점 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-4.md
              description: 고릴라는 요금 유형(고정/유연)과 상점 매핑 방식(주소 기반/상점 기반)에 따라 요청 본문 규격이 다릅니다. 각 변형은 별도의 공식 문서에 정의되어 있습니다.
            examples:
              유연 요금 | 자율 수행 (주소 기반) — Request:
                value:
                  orderAgencyId: gorela_chicken
                  pickupId: c7b61777-f091-4b2d-b50e-083171e9196d
                  pickupRoadAddress: 서울특별시 강남구 도산대로55길 20 영빌딩 1층
                  pickupJibunAddress: 서울특별시 강남구 청담동 88-5
                  pickupAddressDetail: 1층
                  pickupLocation:
                    latitude: '37.5247834'
                    longitude: '127.0406188'
                  dropRoadAddress: 서울특별시 강남구 언주로 134길 32
                  dropJibunAddress: 서울특별시 강남구 논현동 117
                  dropAddressDetail: 5층 505호
                  pickupWishAt: 1674716400000
              유연 요금 | 자율 수행 (상점 기반) — Request:
                value:
                  orderAgencyId: gorela_chicken
                  orderAgencyStoreId: gorela_chicken_store_1
                  dropRoadAddress: 서울특별시 강남구 언주로 134길 32
                  dropJibunAddress: 서울특별시 강남구 논현동 117
                  dropAddressDetail: 5층 505호
                  pickupWishAt: 1674716400000
      responses:
        '200':
          description: 요청한 작업이 성공했을 때 응답됩니다.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        deliveryInfo:
                          type: object
                          properties:
                            pickupMinimumAt:
                              type: integer
                              description: 픽업 최소 일시 (timestamp)
                            pickupExpectedAt:
                              type: integer
                              description: 픽업 예상 일시 (timestamp)
                            deliveryDistance:
                              type: integer
                              description: 배달 거리 (m)
                            minimumDeliveryPrice:
                              type: integer
                              description: 최소 배달 요금 **주문 접수 시 해당 최소 배달 요금 미만으로 접수할 수 없습니다.*
                            recommendDeliveryPrice:
                              type: integer
                              description: 추천 배달 요금
                          required:
                          - pickupMinimumAt
                          - pickupExpectedAt
                          - deliveryDistance
                          - minimumDeliveryPrice
                          - recommendDeliveryPrice
                          title: 데이터
                      required:
                      - isPossible
                      title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        reason:
                          type: boolean
                          description: 배달 불가능 사유
                          enum:
                          - ENUM
                          - INVALID_AREA
                          - INVALID_ADDRESS
                          - TOO_LONG_DELIVERY_DISTANCE
                          - INCORRECT_DELIVERY_PRICE_SETTING
                          - OVER_CAPACITY
                          - BAD_WEATHER
                          - CLOSE_AGENCY
                          - CLOSE_STORE
                          - INSUFFICIENT_DEPOSIT
                          - WRONG_REQUEST
                          - STORE_NOT_APPROVED
                          - DELIVERY_DISABLED
                          - DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD
                          - INCORRECT_STORE_INFO_SETTING
                          - INCORRECT_STORE_VAN_INFO_SETTING
                          - OUT_OF_DELIVERY_POSSIBLE_AREA
                          - POSSIBLE_AREA_OUT_OF_HOURS
                          - IMPOSSIBLE_DELIVERY_AREA
                          - ETC
                          x-enum-descriptions:
                            ENUM: 설명
                            INVALID_AREA: 배달이 불가능한 구역으로 거절된 경우
                            INVALID_ADDRESS: 유효하지 않은 주소 및 좌표로 거절된 경우
                            TOO_LONG_DELIVERY_DISTANCE: 배달 가능한 거리가 초과되어 거절된 경우
                            INCORRECT_DELIVERY_PRICE_SETTING: 주문 정보가 상점의 배달 요금 설정(거리/시간/구역/지번 등)에 유효하지 않은 경우
                            OVER_CAPACITY: 배달을 수행할 수 있는 라이더가 부족하여 거절된 경우
                            BAD_WEATHER: 배달이 불가능한 날씨로 거절된 경우
                            CLOSE_AGENCY: 배달대행사의 영업이 종료되어 거절된 경우
                            CLOSE_STORE: 상점의 영업이 종료되어 거절된 경우
                            INSUFFICIENT_DEPOSIT: 상점의 예치금이 부족하여 거절된 경우
                            WRONG_REQUEST: 잘못된 주문 접수로 거절된 경우
                            STORE_NOT_APPROVED: 상점이 승인되지 않은 상태인 경우
                            DELIVERY_DISABLED: 기타 사유로 인해 상점이 배달 중단 상태인 경우
                            DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT: 후불 결제가 가능한 배달대행사가 없는 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID: 후불 결제가 불가능한 상점인 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD: 후불 현금 결제가 불가능한 상점인 경우
                            INCORRECT_STORE_INFO_SETTING: 상점 정보에 문제가 있어 배달 수행이 불가능한 경우
                            INCORRECT_STORE_VAN_INFO_SETTING: 상점 VAN 정보에 문제가 있어 배달 수행이 불가능한 경우
                            OUT_OF_DELIVERY_POSSIBLE_AREA: 배달 가능 권역에서 벗어난 경우
                            POSSIBLE_AREA_OUT_OF_HOURS: 배달 가능 권역이지만 배달 가능 시간이 아닌 경우
                            IMPOSSIBLE_DELIVERY_AREA: 배달 불가 구역인 경우
                            ETC: 기타 사유로 거절된 경우
                      required:
                      - isPossible
                      - reason
                      title: 거절 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (REJECT)
                  description: 요청이 거절된 경우의 응답 데이터
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        deliveryInfo:
                          type: object
                          properties:
                            pickupMinimumAt:
                              type: integer
                              description: 픽업 최소 일시 (timestamp)
                            pickupExpectedAt:
                              type: integer
                              description: 픽업 예상 일시 (timestamp)
                            deliveryDistance:
                              type: integer
                              description: 배달 거리 (m)
                            minimumDeliveryPrice:
                              type: integer
                              description: 최소 배달 요금 **주문 접수 시 해당 최소 배달 요금 미만으로 접수할 수 없습니다.*
                            recommendDeliveryPrice:
                              type: integer
                              description: 추천 배달 요금
                          required:
                          - pickupMinimumAt
                          - pickupExpectedAt
                          - deliveryDistance
                          - minimumDeliveryPrice
                          - recommendDeliveryPrice
                          title: 데이터
                      required:
                      - isPossible
                      title: 성공 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (SUCCESS)
                - type: object
                  properties:
                    statusCode:
                      type: integer
                    data:
                      type: object
                      properties:
                        isPossible:
                          type: boolean
                          description: 배달 가능 여부
                        reason:
                          type: boolean
                          description: 배달 불가능 사유
                          enum:
                          - ENUM
                          - INVALID_AREA
                          - INVALID_ADDRESS
                          - TOO_LONG_DELIVERY_DISTANCE
                          - INCORRECT_DELIVERY_PRICE_SETTING
                          - OVER_CAPACITY
                          - BAD_WEATHER
                          - CLOSE_AGENCY
                          - CLOSE_STORE
                          - INSUFFICIENT_DEPOSIT
                          - WRONG_REQUEST
                          - STORE_NOT_APPROVED
                          - DELIVERY_DISABLED
                          - DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID
                          - INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD
                          - INCORRECT_STORE_INFO_SETTING
                          - INCORRECT_STORE_VAN_INFO_SETTING
                          - OUT_OF_DELIVERY_POSSIBLE_AREA
                          - POSSIBLE_AREA_OUT_OF_HOURS
                          - IMPOSSIBLE_DELIVERY_AREA
                          - ETC
                          x-enum-descriptions:
                            ENUM: 설명
                            INVALID_AREA: 배달이 불가능한 구역으로 거절된 경우
                            INVALID_ADDRESS: 유효하지 않은 주소 및 좌표로 거절된 경우
                            TOO_LONG_DELIVERY_DISTANCE: 배달 가능한 거리가 초과되어 거절된 경우
                            INCORRECT_DELIVERY_PRICE_SETTING: 주문 정보가 상점의 배달 요금 설정(거리/시간/구역/지번 등)에 유효하지 않은 경우
                            OVER_CAPACITY: 배달을 수행할 수 있는 라이더가 부족하여 거절된 경우
                            BAD_WEATHER: 배달이 불가능한 날씨로 거절된 경우
                            CLOSE_AGENCY: 배달대행사의 영업이 종료되어 거절된 경우
                            CLOSE_STORE: 상점의 영업이 종료되어 거절된 경우
                            INSUFFICIENT_DEPOSIT: 상점의 예치금이 부족하여 거절된 경우
                            WRONG_REQUEST: 잘못된 주문 접수로 거절된 경우
                            STORE_NOT_APPROVED: 상점이 승인되지 않은 상태인 경우
                            DELIVERY_DISABLED: 기타 사유로 인해 상점이 배달 중단 상태인 경우
                            DELIVERY_AGENCY_CAN_NOT_DEFERRED_PAYMENT: 후불 결제가 가능한 배달대행사가 없는 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID: 후불 결제가 불가능한 상점인 경우
                            INVALID_GOODS_PAY_TYPE_ONLY_PREPAID_OR_CARD: 후불 현금 결제가 불가능한 상점인 경우
                            INCORRECT_STORE_INFO_SETTING: 상점 정보에 문제가 있어 배달 수행이 불가능한 경우
                            INCORRECT_STORE_VAN_INFO_SETTING: 상점 VAN 정보에 문제가 있어 배달 수행이 불가능한 경우
                            OUT_OF_DELIVERY_POSSIBLE_AREA: 배달 가능 권역에서 벗어난 경우
                            POSSIBLE_AREA_OUT_OF_HOURS: 배달 가능 권역이지만 배달 가능 시간이 아닌 경우
                            IMPOSSIBLE_DELIVERY_AREA: 배달 불가 구역인 경우
                            ETC: 기타 사유로 거절된 경우
                      required:
                      - isPossible
                      - reason
                      title: 거절 응답 데이터
                  required:
                  - statusCode
                  - data
                  title: Response Data (REJECT)
                  description: 요청이 거절된 경우의 응답 데이터
              examples:
                유연 요금 | 자율 수행 (주소 기반) — 성공:
                  value:
                    statusCode: 200
                    data:
                      isPossible: true
                      deliveryInfo:
                        pickupMinimumAt: 1674717600000
                        pickupExpectedAt: 1674717600000
                        deliveryDistance: 1320
                        minimumDeliveryPrice: 2500
                        recommendDeliveryPrice: 4000
                유연 요금 | 자율 수행 (주소 기반) — 거절:
                  value:
                    statusCode: 200
                    data:
                      isPossible: false
                      reason: BAD_WEATHER
                유연 요금 | 자율 수행 (상점 기반) — 성공:
                  value:
                    statusCode: 200
                    data:
                      isPossible: true
                      deliveryInfo:
                        pickupMinimumAt: 1674717600000
                        pickupExpectedAt: 1674717600000
                        deliveryDistance: 1320
                        minimumDeliveryPrice: 2500
                        recommendDeliveryPrice: 4000
                유연 요금 | 자율 수행 (상점 기반) — 거절:
                  value:
                    statusCode: 200
                    data:
                      isPossible: false
                      reason: BAD_WEATHER
        '400':
          description: BAD_REQUEST — SCHEMA_VALIDATE / NOT_ALLOW / REQUEST_JSON_PARSING / INVALID_INPUT / NONE_DELIVERY_AGENCY_MAPPING
            / NONE_ORDER_AGENCY_MAPPING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: UNAUTHORIZED — EXPIRED_API_KEY / VERIFY_API_KEY_FAIL / ROLE_DENY
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND — NOT_FOUND_API / NOT_FOUND_RESOURCE / EXTERNAL_NOT_FOUND_RESOURCE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT — DUPLICATED_ID / DUPLICATED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: TOO_MANY_REQUESTS — API 요청 횟수 제한 초과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: INTERNAL_SERVER_ERROR — DB_FAIL / JSON_PARSING / SERVER_ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: BAD_GATEWAY — EXTERNAL_SERVER_ERROR / NOT_ALLOW_EXTERNAL / MAINTENANCE_TIME
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: SERVICE_UNAVAILABLE — SERVICE_UNAVAILABLE / EXTERNAL_SERVICE_UNAVAILABLE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: GATEWAY_TIMEOUT — GATEWAY_TIMEOUT / EXTERNAL_SERVER_TIMEOUT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/flexible/orders:
    post:
      operationId: createFlexibleOrder
      summary: 주문 접수
      description: '공식 문서: 유연 요금 | 자율 수행 (상점 기반), 유연 요금 | 자율 수행 (주소 기반)'
      tags:
      - Orders
      x-evidence:
        method: derived-from-published-docs
        sources:
        - https://developer.gorelas.com/api-docs-md/request-3.md
        - https://developer.gorelas.com/api-docs-md/request-4.md
        fetched: '2026-08-06'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  orderType:
                    type: string
                    description: 연동 형태 구분 (= `FOR_DELIVERY`)
                  requestDeliveryPrice:
                    type: integer
                    description: 요청 배달 요금 (`부가세` 10% 별도) **100원 단위로만 가능합니다.* **최소 배달 요금 미만으로 접수할 수 없습니다.*
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  orderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: '주문 제휴사 주문 아이디 *주문 접수에 성공(응답 isSuccess: true)하지 않았다면, 다시 주문 접수 요청 시 동일한 주문임을 판단하기 위해서 이전
                      주문 접수와 동일한 값으로 요청 부탁드립니다.*'
                  orderAgencyDailyOrderId:
                    type: string
                    maxLength: 10
                    description: 주문 제휴사 당일 주문 아이디 *상점 - 라이더 픽업 소통의 용이성을 목적으로, 당일 유니크한 짧은 주문 아이디*
                  totalPayPrice:
                    type: integer
                    x-constraint: '>= actualPayPrice'
                    description: 총 결제 금액
                  actualPayPrice:
                    type: integer
                    description: 실제 결제 금액 **(고객이 실제로 결제한 금액으로, 할인/쿠폰/포인트 등의 사유로 총 결제 금액에서 차감된 결제 금액)**
                  prepaidPrice:
                    type: integer
                    description: 선결제 금액 (= actualPayPrice)
                  orderProducts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: 상품 유형 **(배달팁도 하나의 상품으로 취급 = DELIVERY_TIP)**
                          enum:
                          - FOOD
                          - DELIVERY_TIP
                          - GROCERY
                          - CONVENIENCE_STORE
                          - PHARMACY
                          - SUMMARY
                          - DESSERT
                          - DRINK
                          - ALCOHOLIC
                          - ETC
                          x-enum-descriptions:
                            FOOD: 음식
                            DELIVERY_TIP: 배달팁
                            GROCERY: 식료품
                            CONVENIENCE_STORE: 편의점
                            PHARMACY: 약국
                            SUMMARY: 통합상품
                            DESSERT: 디저트
                            DRINK: 음료
                            ALCOHOLIC: 주류
                            ETC: 기타
                        name:
                          type: string
                          maxLength: 100
                          description: 상품 이름
                        totalPrice:
                          type: integer
                          description: 상품 총 금액 **(상품 금액과 해당 상품에 포함된 옵션 금액의 합계 금액)**
                        unitPrice:
                          type: integer
                          description: 상품 단가
                        quantity:
                          type: integer
                          description: 상품 수량
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                maxLength: 100
                                description: 옵션 이름
                              unitPrice:
                                type: integer
                                description: 옵션 단가
                              quantity:
                                type: integer
                                minimum: 1
                                description: 옵션 수량 옵션 상품 목록 주문 상품 목록
                            required:
                            - name
                            - unitPrice
                            - quantity
                            title: 주문 상품 옵션 데이터
                      required:
                      - type
                      - name
                      - totalPrice
                      - unitPrice
                      - quantity
                      title: 주문 상품 데이터
                  receiverPhone:
                    type: string
                    minLength: 8
                    maxLength: 12
                    description: 수령자(고객) 연락처
                  receiverName:
                    type: string
                    maxLength: 30
                    description: 수령자(고객) 이름
                  ordererOrderMemo:
                    type: string
                    maxLength: 250
                    description: 주문자(고객)의 요청 사항 (배달대행사에게 전달)
                  orderChannel:
                    type: string
                    description: 주문 유입 채널 **(최초 실제 고객이 접수한 주문 채널)** **주문앱을 운영하고 있다면, 연동 개발 과정 중에 추가할 수 있는 항목입니다. 문의 부탁드립니다.*
                    enum:
                    - BAEMIN
                    - YOGIYO
                    - KAKAO
                    - NAVER
                    - SHUTTLE
                    - BAEGOFA
                    - WMPO
                    - DDINGDONG
                    - COUPANG
                    - HAPPYORDER
                    - FACEBOOK
                    - MANUAL
                    - BULLEOBOMNAE
                    - LASTORDER
                    - STAMPANG
                    - SOMUNNANSHOP
                    - WOODEL
                    - SDO
                    - PAYCO
                    - MEATQ
                    - BAEDALTONG
                    - MUKKEBI
                    - SEOUL
                    - KONA
                    - MYUNGSU
                    - WOOLSAN
                    - DAEGU
                    - UBPAY
                    - BAECHELIN
                    - HUNGRY_PANDA
                    - MASITDA
                    - DDANGYO
                    - PPLUS
                    - MUKJA
                    - ETC
                    x-enum-descriptions:
                      BAEMIN: 배달의 민족
                      YOGIYO: 요기요
                      KAKAO: 카카오
                      NAVER: 네이버
                      SHUTTLE: 셔틀
                      BAEGOFA: 배고파
                      WMPO: 위메프오
                      DDINGDONG: 띵동
                      COUPANG: 쿠팡
                      HAPPYORDER: 해피오더
                      FACEBOOK: 페이스북
                      MANUAL: 수동 (수기, 직접)
                      BULLEOBOMNAE: 불러봄내
                      LASTORDER: 라스트오더
                      STAMPANG: 스탬프팡
                      SOMUNNANSHOP: 소문난샵
                      WOODEL: 우리동네딜리버리
                      SDO: 배달특급
                      PAYCO: 페이코
                      MEATQ: 미트큐
                      BAEDALTONG: 배달통
                      MUKKEBI: 먹깨비
                      SEOUL: 서울애배달
                      KONA: 코나배달(인천공공배달앱)
                      MYUNGSU: 배달의명수
                      WOOLSAN: 울산페이
                      DAEGU: 대구로
                      UBPAY: 유비페이
                      BAECHELIN: 배슐랭
                      HUNGRY_PANDA: 헝그리판다
                      MASITDA: 마시따
                      DDANGYO: 땡겨요
                      PPLUS: 피플러스
                      MUKJA: 먹자
                      ETC: 기타
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp)
                  hasAlcoholicBeverage:
                    type: boolean
                    description: 주류 상품 포함 여부 **주류 상품이 포함되는 경우 비대면 접수는 불가능합니다.*
                  isUntact:
                    type: boolean
                    description: 비대면 배달 여부
                  pickupId:
                    type: string
                    maxLength: 100
                    description: 픽업지 식별 아이디 (상점 아이디 등, 없다면 빈값 가능)
                  pickupName:
                    type: string
                    maxLength: 250
                    description: 픽업지 이름 (설명)
                  pickupPhone:
                    type: string
                    minLength: 8
                    maxLength: 12
                    description: 픽업지 연락처
                  pickupRoadAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 도로명 주소 ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupJibunAddress:
                    type: string
                    maxLength: 100
                    description: '픽업 지번 주소 (`법정동`) ****필수**: pickupJibunAddress 또는 pickupRoadAddress*'
                  pickupAddressDetail:
                    type: string
                    maxLength: 100
                    description: 픽업 상세 주소
                  pickupLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 픽업지 좌표 **좌표가 있는 경우, 주소보다 **좌표를 우선 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  pickupGuide:
                    type: string
                    maxLength: 250
                    description: 픽업지 찾아오는 길
                  pickupEntrancePassword:
                    type: string
                    maxLength: 20
                    description: 픽업지 공동 현관 비밀번호
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  dropEntrancePassword:
                    type: string
                    maxLength: 20
                    description: 드랍지 공동 현관 비밀번호
                  dropGuide:
                    type: string
                    maxLength: 250
                    description: 드랍지 찾아오는 길
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderType
                - requestDeliveryPrice
                - orderAgencyId
                - orderAgencyOrderId
                - totalPayPrice
                - actualPayPrice
                - prepaidPrice
                - receiverPhone
                - pickupWishAt
                - hasAlcoholicBeverage
                - isUntact
                - pickupId
                - pickupName
                - pickupPhone
                - pickupAddressDetail
                - dropAddressDetail
                title: 유연 요금 | 자율 수행 (주소 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-3.md
              - type: object
                properties:
                  orderType:
                    type: string
                    description: 연동 형태 구분 (= `FOR_DELIVERY`)
                  requestDeliveryPrice:
                    type: integer
                    description: 요청 배달 요금 (`부가세` 10% 별도) **100원 단위로만 가능합니다.* **최소 배달 요금 미만으로 접수할 수 없습니다.*
                  orderAgencyId:
                    type: string
                    maxLength: 30
                    description: 주문 제휴사 아이디
                  orderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: '주문 제휴사 주문 아이디 *주문 접수에 성공(응답 isSuccess: true)하지 않았다면, 다시 주문 접수 요청 시 동일한 주문임을 판단하기 위해서 이전
                      주문 접수와 동일한 값으로 요청 부탁드립니다.*'
                  orderAgencyDailyOrderId:
                    type: string
                    maxLength: 10
                    description: 주문 제휴사 당일 주문 아이디 *상점 - 라이더 픽업 소통의 용이성을 목적으로, 당일 유니크한 짧은 주문 아이디*
                  orderAgencyStoreId:
                    type: string
                    maxLength: 100
                    description: 주문 제휴사 상점 아이디
                  totalPayPrice:
                    type: integer
                    x-constraint: '>= actualPayPrice'
                    description: 총 결제 금액
                  actualPayPrice:
                    type: integer
                    description: 실제 결제 금액 **(고객이 실제로 결제한 금액으로, 할인/쿠폰/포인트 등의 사유로 총 결제 금액에서 차감된 결제 금액)**
                  prepaidPrice:
                    type: integer
                    description: 선결제 금액
                  paymentCardPrice:
                    type: integer
                    description: 후불 카드 결제 금액 **(라이더 현장 결제)**
                  taxFreePayPrice:
                    type: integer
                    description: '일회용 컵 반환 보증금 후불 결제 금액 (default: 0) **부가세법 제27조에 의한 비과세액 현장 결제는 지원하지 않습니다. 후불 처리하는 보증금만 포함되어야
                      합니다.*'
                  orderProducts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: 상품 유형 **(배달팁도 하나의 상품으로 취급 = DELIVERY_TIP)**
                          enum:
                          - FOOD
                          - DELIVERY_TIP
                          - GROCERY
                          - CONVENIENCE_STORE
                          - PHARMACY
                          - SUMMARY
                          - DESSERT
                          - DRINK
                          - ALCOHOLIC
                          - ETC
                          x-enum-descriptions:
                            FOOD: 음식
                            DELIVERY_TIP: 배달팁
                            GROCERY: 식료품
                            CONVENIENCE_STORE: 편의점
                            PHARMACY: 약국
                            SUMMARY: 통합상품
                            DESSERT: 디저트
                            DRINK: 음료
                            ALCOHOLIC: 주류
                            ETC: 기타
                        name:
                          type: string
                          maxLength: 100
                          description: 상품 이름
                        totalPrice:
                          type: integer
                          description: 상품 총 금액 **(상품 금액과 해당 상품에 포함된 옵션 금액의 합계 금액)**
                        unitPrice:
                          type: integer
                          description: 상품 단가
                        quantity:
                          type: integer
                          description: 상품 수량
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                maxLength: 100
                                description: 옵션 이름
                              unitPrice:
                                type: integer
                                description: 옵션 단가
                              quantity:
                                type: integer
                                minimum: 1
                                description: 옵션 수량 옵션 상품 목록 주문 상품 목록
                            required:
                            - name
                            - unitPrice
                            - quantity
                            title: 주문 상품 옵션 데이터
                      required:
                      - type
                      - name
                      - totalPrice
                      - unitPrice
                      - quantity
                      title: 주문 상품 데이터
                  receiverPhone:
                    type: string
                    minLength: 8
                    maxLength: 12
                    description: 수령자(고객) 연락처
                  receiverName:
                    type: string
                    maxLength: 30
                    description: 수령자(고객) 이름
                  storeOrderMemo:
                    type: string
                    maxLength: 250
                    description: 상점의 요청 사항 (배달대행사에게 전달)
                  ordererOrderMemo:
                    type: string
                    maxLength: 250
                    description: 주문자(고객)의 요청 사항 (배달대행사에게 전달)
                  orderChannel:
                    type: string
                    description: 주문 유입 채널 **(최초 실제 고객이 접수한 주문 채널)** **주문앱을 운영하고 있다면, 연동 개발 과정 중에 추가할 수 있는 항목입니다. 문의 부탁드립니다.*
                    enum:
                    - BAEMIN
                    - YOGIYO
                    - KAKAO
                    - NAVER
                    - SHUTTLE
                    - BAEGOFA
                    - WMPO
                    - DDINGDONG
                    - COUPANG
                    - HAPPYORDER
                    - FACEBOOK
                    - MANUAL
                    - BULLEOBOMNAE
                    - LASTORDER
                    - STAMPANG
                    - SOMUNNANSHOP
                    - WOODEL
                    - SDO
                    - PAYCO
                    - MEATQ
                    - BAEDALTONG
                    - MUKKEBI
                    - SEOUL
                    - KONA
                    - MYUNGSU
                    - WOOLSAN
                    - DAEGU
                    - UBPAY
                    - BAECHELIN
                    - HUNGRY_PANDA
                    - MASITDA
                    - DDANGYO
                    - PPLUS
                    - MUKJA
                    - ETC
                    x-enum-descriptions:
                      BAEMIN: 배달의 민족
                      YOGIYO: 요기요
                      KAKAO: 카카오
                      NAVER: 네이버
                      SHUTTLE: 셔틀
                      BAEGOFA: 배고파
                      WMPO: 위메프오
                      DDINGDONG: 띵동
                      COUPANG: 쿠팡
                      HAPPYORDER: 해피오더
                      FACEBOOK: 페이스북
                      MANUAL: 수동 (수기, 직접)
                      BULLEOBOMNAE: 불러봄내
                      LASTORDER: 라스트오더
                      STAMPANG: 스탬프팡
                      SOMUNNANSHOP: 소문난샵
                      WOODEL: 우리동네딜리버리
                      SDO: 배달특급
                      PAYCO: 페이코
                      MEATQ: 미트큐
                      BAEDALTONG: 배달통
                      MUKKEBI: 먹깨비
                      SEOUL: 서울애배달
                      KONA: 코나배달(인천공공배달앱)
                      MYUNGSU: 배달의명수
                      WOOLSAN: 울산페이
                      DAEGU: 대구로
                      UBPAY: 유비페이
                      BAECHELIN: 배슐랭
                      HUNGRY_PANDA: 헝그리판다
                      MASITDA: 마시따
                      DDANGYO: 땡겨요
                      PPLUS: 피플러스
                      MUKJA: 먹자
                      ETC: 기타
                  pickupWishAt:
                    type: integer
                    format: int64
                    x-constraint: '[ 현재시간 .. 90분 ]'
                    description: 픽업 희망 일시 (timestamp)
                  isUntact:
                    type: boolean
                    description: 비대면 배달 여부
                  dropRoadAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 도로명 주소 ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropJibunAddress:
                    type: string
                    maxLength: 100
                    description: '드랍 지번 주소 (`법정동`) ****필수**: dropJibunAddress 또는 dropRoadAddress*'
                  dropAddressDetail:
                    type: string
                    maxLength: 100
                    description: 드랍 상세 주소
                  dropLocation:
                    type: object
                    properties:
                      latitude:
                        type: string
                        description: 위도
                      longitude:
                        type: string
                        description: 경도 드랍지 좌표 **주소가 유효하지 않은 경우, **좌표로 처리**합니다.*
                    required:
                    - latitude
                    title: 좌표 데이터
                  dropEntrancePassword:
                    type: string
                    maxLength: 20
                    description: 드랍지 공동 현관 비밀번호
                  dropGuide:
                    type: string
                    maxLength: 250
                    description: 드랍지 찾아오는 길
                  referencedOrderAgencyOrderId:
                    type: string
                    maxLength: 50
                    description: 참조 주문 제휴사 주문 아이디 **해당 참조 주문의 배달을 수행한 배달대행사가 다시 선정(배정)될 수 있도록 요구하는 옵션입니다.* (아래와 같은 제한 사항이
                      있으니, 참고하여 연동하시길 바랍니다) 1. 정상 접수되고 배차 ~ 완료된 주문만 가능 2. 배차 시점 24시간 이내의 주문만 가능 3. 예약 주문 접수 시 사용은 불가능
                required:
                - orderType
                - requestDeliveryPrice
                - orderAgencyId
                - orderAgencyOrderId
                - orderAgencyStoreId
                - totalPayPrice
                - actualPayPrice
                - prepaidPrice
                - paymentCardPrice
                - receiverPhone
                - pickupWishAt
                - isUntact
                - dropAddressDetail
                title: 유연 요금 | 자율 수행 (상점 기반)
                x-source-doc: https://developer.gorelas.com/api-docs-md/request-4.md
              description: 고릴라는 요금 유형(고정/유연)과 상점 매핑 방식(주소 기반/상점 기반)에 따라 요청 본문 규격이 다릅니다. 각 변형은 별도의 공식 문서에 정의되어 있습니다.
            examples:
              유연 요금 | 자율 수행 (주소 기반) — Request:
                value:
                  orderType: FOR_DELIVERY
                  requestDeliveryPrice: 3000
                  orderAgencyId: gorela_chicken
                  orderAgencyOrderId: TEST_00000123
                  orderAgencyDailyOrderId: '101'
                  totalPayPrice: 30000
                  actualPayPrice: 28000
                  prepaidPrice: 28000
                  orderProducts:
                  - type: FOOD
                    name: 맛있는 후라이드 치킨
                    totalPrice: 28000
                    unitPrice: 12000
                    quantity: 2
                    options:
                    - name: 소스 추가
                      unitPrice: 1000
                      quantity: 2
                  - type: DELIVERY_TIP
                    name: 배달팁
                    totalPrice: 2000
                    unitPrice: 2000
                    quantity: 1
                  receiverPhone: '01011112222'
                  receiverName: 임꺽정
                  ordererOrderMemo: 맛있게 부탁드립니다.
                  orderChannel: BAEMIN
                  pickupWishAt: 1674720000000
                  hasAlcoholicBeverage: false
                  isUntact: true
                  pickupId: c7b61777-f091-4b2d-b50e-083171e9196d
                  pickupName: 고릴라 치킨 청담점
                  pickupPhone: '021231234'
                  pickupRoadAddress: 서울 강남구 언주로134길 32
                  pickupJibunAddress: 서울 강남구 논현동 117
                  pickupAddressDetail: 1층
                  pickupLocation:
                    latitude: '37.5168692'
                    longitude: '127.0383158'
                  pickupGuide: 사거리 횡단보도 건너서 골목 좌회전
                  pickupEntrancePassword: 123456#
                  dropRoadAddress: 서울 강남구 학동로43길 17 논현2동주민센터
                  dropJibunAddress: 서울 강남구 논현동 114-24
                  dropAddressDetail: 1004호
                  dropEntrancePassword: 123456#
                  dropGuide: 세븐일레븐 맞은편 초록지붕집
              유연 요금 | 자율 수행 (상점 기반) — Request:
                value:
                  orderType: FOR_DELIVERY
                  requestDeliveryPrice: 3000
                  orderAgencyId: gorela_chicken
                  orderAgencyOrderId: TEST_00000123
                  orderAgencyDailyOrderId: '101'
                  orderAgencyStoreId: gorela_chicken_store_1
                  totalPayPrice: 30000
[...]
